<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/x-icon" href="./assets/img/logonav.png">

  <title>RBD Digitalização</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/small-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  Navbar -->
  <div class="pos-f-t fixed-top">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-white p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-expand-sm navbar-blue" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="#"><img src="./assets/img/logonav.png " height="50px" width="auto"> </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Página Inicial<span class="sr-only">(current)</span></a>
            </li>
            <p class="text-right">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfólio</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="#">Imagens</a>
                  <a class="dropdown-item" href="#">Livros</a>
                  <a class="dropdown-item" href="#">Microfilmes</a>
              </div>
            </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >Orçamento</a>
        </li>  
            <li class="nav-item">
              <a class="nav-link" href="#"> Contato</a>
          </li>
        </p>

      </nav>
    </div> 
        </div>
    </nav>

  <!-- END: Navbar -->

  <!-- Page Content -->
  <div class="container margin-top: 100px">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-2" src="./assets/img/logo.jpg" width="300px" height="200px" alt="RBD Digitalização Logomarca">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5" >
        <h1 class="font-weight-light">RBD Digitalização</h1>
        <p>Trabalhamos de mãos dadas com os aparatos tecnológicos, e acreditamos que somente as tecnologias não são capazes de garantir a qualidade, é preciso conhecer os objetivos de nossos clientes, para assim fornecer os melhores serviços.</p>
        <a class="btn btn-primary" href="#">Sobre Nós</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-info shadow my-3 py-2 text-center">
      <div class="card-body">
        <p class="text-white mb-0"> <h3>Conheça nossos serviços!</h3></p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Digitalização de Fotos</h2>
            <img src="./assets/img/fotoantiga.jpg" width="300px" height="170px" alt="Cidade do Recife">
            <p class="card-text">Digitalização de 100 fotos com limpeza, restauro e acondicionamento.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Contratar!</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Digitalização de Microfilme</h2>
            <img src="./assets/img/microfilme.jpg" width="auto" height="170px" alt="">
            <p class="card-text">Digitalização de 20 rolos de microfilme com higienização, restauro e acondicionamento.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Contratar!</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Digitalização de Livros</h2>
            <img src="./assets/img/livroantigo.jpg" alt="">
            <p class="card-text">Digitalização de 30 livros com até 400 folhas, com higienização, restauro e acondicionamento.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Contratar!</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
<!--footer class= "py-5 bg #e3f2fd">  
  <div class="card-columns mr-auto ml-auto">
   <div class="card">
     <img class="card-img-top" src="holder.js/100x180/" alt="">
     <div class="card-body">
       <h4 class="card-title">Estrutura</h4>
       <p class="card-text">Equipamentos</p>
       <p class="card-text">Tecnologias</p>
       <p class="card-text">Procedimentos</p>
       <p class="card-text">Canais de Distribuição</p>
       <p class="card-text">Ambientes</p>
     </div>
   </div>
    
   <div class="card-columns mr-auto ml-auto">
    <div class="card">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">Sobre</h4>
        <p class="card-text">Missão e Visão</p>
        <p class="card-text">Equipe</p>
        <p class="card-text">Política de Segurança</p>
        <p class="card-text">Termos e Condições</p>
        <p class="card-text">Ambientes</p>
      </div>
    </div>-->

     <div class="container">
      <p class="mt-lg-0 text-center text-white bg-dark">Copyright &copy; Byanca Calixto 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<div class="container">
  <div class="card">

</body>

</html>

