<!doctype html>
<html lang="en">
  <head>
    <title>Portfólio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <h3>Descrição de Imagens</h3>
      <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src="holder.js/100x180/" alt="">
          <div class="card-body">
            <h4 class="card-title">Metadados</h4>
            <p class="card-text">TÍTULO: FORMATURA DO ABC ESCOLA JOSEPHA DE PETRIBU<br>
                LOCAL: LAGOA DE ITAENGA<br>
                DÉCADA: [199-]<br>
                PALAVRAS-CHAVE: PROFESSORA IRANEIDE; CLUBE PETRIBU; ESCOLA JOSEPHA DE PETRIBU; USINA PETRIBU<br>
                NOTAS DE CONTEÚDO: FOTOGRAFIA DA FORMATURA DO ABC AO LADO DA PROFESSORA IRANEIDE<br>
                LEGENDA DE PARENTESCO: LOCAL DE MEMORIA</p>
          </div>
        </div>

         <div class="card">
          <img class="card-img-top" src="" alt="">
          <div class="card-body">
            <h5 class="card-title">Metadados</h5>
            <p class="card-text">TÍTULO: FOTO ESCOLAR<br>
                LOCAL: JOAO ALFREDO<br>
                DÉCADA: [199-]<br>
                PALAVRAS-CHAVE: LIVROS; TROFEUS; BANDEIRA DO BRASIL; ESCOLA HELIODORO<br>
                NOTAS DE CONTEÚDO: FOTO TIRADA NA ESCOLA HELIODORO GONCALVES DE ARRUDA NO PRIMEIRO ANO DO ENSINO INFANTIL<br>
                LEGENDA DE PARENTESCO: LOCAL DE MEMoRIA</p>
          </div>
        </div>
      </div>
    </div>
<div class="container-fluid">
  <h3> Descrição de Livros</h3>
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">Metadados</h4>
        <p class="card-text">TÍTULO : HARRY POTTER AND THE CHAMBER OF SECRETS<br>
            AUTOR: JOANNE ROOLING<br>
            EDITORA: SCHOLASTIC<br>
            LOCAL DE PUBLICAÇÃO: NEW YORK<br>
            ANO DE PUBLICAÇÃO/COPYRIGHT: 1999<br>
            PALAVRAS-CHAVE: FICCAO; ROMANCE; MAGIA<br>
            <p>NOTA DE CONTEÚDO: APOS AS SOFRIVEIS FERIAS NA CASA DOS TIOS, HARRY POTTER SE PREPARA PARA VOLTAR A HOGWARTS E COMECAR SEU SEGUNDO ANO NA ESCOLA DE BRUXOS. NA VESPERA DO INICIO DAS AULAS, A ESTRANHA CRIATURA DOBBY APARECE EM SEU QUARTO E O AVISA DE QUE VOLTAR É UM ERRO E QUE ALGO MUITO RUIM PODE ACONTECER SE HARRY INSISTIR EM CONTINUAR OS ESTUDOS DE BRUXARIA. O GAROTO, NO ENTANTO, ESTA DISPOSTO A CORRER O RISCO E SE LIVRAR DO LAR PROBLEMATICO.</p>
            
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">Metadados</h4>
        <p class="card-text">TÍTULO: SENHORA<br>
            AUTOR: JOSE DE ALENCAR<br>
            EDITORA: CIRANDA CULTURAL<br>
            LOCAL DE PUBLICAÇÃO: SAO PAULO<br>
            ANO DE PUBLICAÇÃO/COPYRIGHT: 2006<br>
            PALAVRAS-CHAVE: FICCAO; ROMANCE; PERIODO COLONIAL BRASILEIRO.<br>
            <p>NOTA DE CONTEÚDO: AURELIA CAMARGO, FILHA DE UMA POBRE COSTUREIRA E ORFA DE PAI,DEPOIS DE PERDER SEU IRMAO APAIXONOU-SE POR FERNANDO SEIXAS – HOMEM AMBICIOSO - A QUEM NAMOROU. ESTE, POREM, DESFAZ A RELACAO, MOVIDO PELA VONTADE DE SE CASAR COM UMA MOCA RICA, ADELAIDE AMARAL, E PELO DOTE AO QUAL TERIA DIREITO DE RECEBER.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h3> Descrição de Microfilme</h3>
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">Metadados</h4>
        <p class="card-text">TÍTULO: ATA DE PRESENCA REUNIAO PLENARIA 18/06/67 (ALEPE)
            RESPONSABILIDADE: ASSEMBLEIA LEGISLATIVA DE PERNAMBUCO
            REPRODUÇÃO: DIARIO OFICIAL DE PERNAMBUCO (CEPE)
            LOCAL DE PUBLICAÇÃO: RECIFE
            ANO DE PUBLICAÇÃO/COPYRIGHT: 1967
            PALAVRAS-CHAVE: PLENARIA, REUNIAO, DISCUSSAO, PROJETO DE LEI 29387, DEPUTADOS.
            DESCRIÇÃO FIÍSICA ORIGINAL: 7 PÁGINAS, A4, P&B, MAU ESTADO DE CONSERVAÇÃO.
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
          <h4 class="card-title">Metadados</h4>
          <p class="card-text">TÍTULO: VOTACAO DO PROJETO DE LEI 276534 REUNIAO DIA 31/10/70
              RESPONSABILIDADE: ASSEMBLEIA LEGISLATIVA DE PERNAMBUCO
              REPRODUÇÃO: DIARIO OFICIAL DE PERNAMBUCO (CEPE)
              LOCAL DE PUBLICAÇÃO: RECIFE
              ANO DE PUBLICAÇÃO/COPYRIGHT: 1970
              PALAVRAS-CHAVE: REUNIAO, VOTACAO, PROJETO DE LEI 276534, AUMENTO, VERBA DE GABINETE, DEPUTADOS.
              DESCRIÇÃO FíSICA ORIGINAL: 10 PÁGINAS, A4, P&B, MAU ESTADO DE CONSERVAÇÃO, AMARELADO.
      </div>
    </div>
  </div>
</div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
